<div class="conteiner">
    <h1 class="mb-4 titulo">My cart</h1>
<div id="billboard">
    <div class="d-flex flex-wrap justify-content-center">
      <mat-card class="example-card m-5 matt-card" *ngFor="let cartItem of cartItems$ | async">
      <mat-card-header class="mat-head">
        <h3 class="card-title">{{cartItem.title}}</h3>
      </mat-card-header>
      <img mat-card-image [src]="urlPath+cartItem.poster_path" alt="" class="imagenes">
      <mat-card-actions class="boton-borrar">
      <button mat-raised-button class="estilo-letra boton-borrar-abajo" (click)="removeItem(cartItem.id)">Delete</button>
      </mat-card-actions>
      </mat-card>
    </div>
    <mat-card-actions class="cartelera">
    <button mat-stroked-button class="estilo-letra cartelera color-cartelera" (click)="returnToBillboard()">Return to Billboard</button>
    </mat-card-actions>
    <mat-card-actions class="vaciar">  
    <button mat-stroked-button class="estilo-letra vaciar color-vaciar" (click)="clearCart()">Clear Cart</button>
    </mat-card-actions>

  