.titulo{
    text-align: center;
    font-size: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 60px;
}

.estilo-letra{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.imagenes{
    height: 280px;
    width: 250px;
}

.cartelera{
    display: flex;
    justify-content:space-around;
    padding: 20px;
}

.vaciar{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.color-cartelera{
    background-color: rgb(136, 19, 19);
    color: aliceblue;
    border-color: rgb(136, 19, 19);
}

.color-vaciar{
    background-color: green;
    color: aliceblue;
    border-color: green;
}

.boton-borrar{
    display: flex;
    justify-content:center;
}

.matt-card{
    width: 15%;
}

.boton-borrarr:hover{
    background-color:rgb(155, 16, 16);
    color: azure;
    box-shadow: 0 0 5px rgb(133, 14, 14), 0 0 25px rgb(133, 14, 14), 0 0 50px rgb(133, 14, 14), 0 0 200px rgb(133, 14, 14);
}