h1{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .boton{
    display: flex;
    justify-content: center;
  }
  