<div class="container d-flex align align-items-center flex-column mt-5">

<h1 class="h3 mb-3 fw-normal">Fill in the details to register</h1>

<form [formGroup]="userForm" class="m-3 col-lg-6">

    <div class="item-form my-4">
    <mat-form-field class="ancho" appearance="fill">
    <mat-label for="name">Name</mat-label>
    <input matInput autocomplete="off" type="text" id="name" name="name" class="form-control" formControlName="name">
    </mat-form-field>
      <div *ngIf="nameControl.invalid && (nameControl.dirty || nameControl.touched)" class="alert alert-danger">
        <div *ngIf="nameControl.hasError('required')">
          The name is required
        </div>
        <div *ngIf="nameControl.hasError('minlength')">
          The name must have 4 or more characters
        </div>
      </div>
 

    <div class="item-form my-4">
    <mat-form-field class="ancho" appearance="fill">
    <mat-label for="surname">Surname</mat-label>
    <input matInput autocomplete="off" type="text" id="surname" name="surname" class="form-control" formControlName="surname">
    </mat-form-field>
    <div *ngIf="surnameControl.invalid && (surnameControl.dirty || surnameControl.touched)" class="alert alert-danger">
      <div *ngIf="surnameControl.hasError('required')">
        The surname is required
      </div>
      <div *ngIf="surnameControl.hasError('minlength')">
        The surname must have 4 or more characters
      </div>
    </div>
  </div>

 <div class="item-form my-4">
    <mat-form-field class="ancho" appearance="fill">
    <mat-label for="email">Email</mat-label>
    <input matInput autocomplete="off" type="text" id="email" name="email" placeholder="Write your email" class="form-control" formControlName="email">
    </mat-form-field>
    <div *ngIf="emailControl.invalid && (emailControl.dirty || emailControl.touched)" class="alert alert-danger">
      <div *ngIf="emailControl.hasError('required')">
        The email is required
      </div>
      <div *ngIf="emailControl.hasError('email')">
        The email must have @ and cannot end with '.'
      </div>
    </div>
  </div>

  <div class="item-form my-4">
    <mat-form-field class="ancho" appearance="fill">
    <mat-label for="password">Password</mat-label>
    <input matInput autocomplete="off" type="password" id="password" name="password" class="form-control" formControlName="password">
    </mat-form-field>
    <div *ngIf="passwordControl.invalid && (passwordControl.dirty || passwordControl.touched)" class="alert alert-danger">
      <div *ngIf="passwordControl.hasError('required')">
        The password is required
      </div>
      <div *ngIf="passwordControl.hasError('minlength')">
        The password must have 4 or more characters
      </div>
    </div>
  </div>

  <button class="ancho button" mat-raised-button color="primary" [disabled]="userForm.invalid" (click)="saveData()">Enter</button>

</div>
