.movie-container{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
  }
  .titulo{
    display: flex;
    margin-top: 40px;
    justify-content: center;
    margin-bottom: 40px;
  }
  