.rocket{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 110px;
  margin-bottom: 100px;
  margin-top: 150px;
}
.card-title{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
}

.carrito:hover{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 17px;
  background-color: indigo;
  box-shadow: 0 0 5px indigo, 0 0 25px indigo, 0 0 50px indigo, 0 0 200px indigo;
}

.matt-card{
  width: 18rem;
}

.mat-head{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  text-align: center;
}

.imagenes{
  height: 400px;
}