<div  id="login" class="container d-flex align align-items-center flex-column mt-5">

<img class="mb-4" src="../assets/rocket.jpg" alt="" width="200" height="200">
<h1 class="h3 mb-3 fw-normal">Welcome to RocketBuster</h1>
<form [formGroup]="loginForm" class="m-3 col-lg-6">

  <div class="item-form my-4">
    <label for="email">Email</label>
    <input type="text" id="email" name="email" placeholder="Write your email" class="form-control" formControlName="email">
    <div *ngIf="emailControl.invalid && (emailControl.dirty || emailControl.touched)" class="alert alert-danger">
      <div *ngIf="emailControl.hasError('required')">
        The email is required
      </div>
      <div *ngIf="emailControl.hasError('email')">
        The email must have @ and cannot end with '.'
      </div>
    </div>
  </div>

  <div class="item-form my-4">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Write your password" formControlName="password">
    <div *ngIf="passwordControl.invalid && (passwordControl.dirty || passwordControl.touched)" class="alert alert-danger">
      <div *ngIf="passwordControl.hasError('required')">
        The password is required
      </div>
      <div *ngIf="passwordControl.hasError('minlength')">
        The password must have 4 or more characters
      </div>
    </div>
  </div>

  <button class="btn-primary w-50 btn btn-lg btn-primary d-block mx-auto boton" (click)="saveData()">Enter</button>

  </form>
</div>  