<div class="container d-flex align align-items-center flex-column mt-5">

<img class="mb-4 rocket" src="../assets/rocket.jpg" alt="">
<h1 class="h3 mb-3 fw-normal titulo">Log in</h1>
<form [formGroup]="loginForm" (ngSubmit)="submit()" class="m-3 col-lg-6">

  <div class="item-form my-4">
    <mat-form-field class="ancho" appearance="fill">
    <mat-label for="user">Username</mat-label>
    <input matInput autocomplete="off" type="text" id="user" name="user" placeholder="Write your username" class="form-control" formControlName="user">
    </mat-form-field>
    <div *ngIf="userControl.invalid && (userControl.dirty || userControl.touched)" class="alert alert-danger">
      <div *ngIf="userControl.hasError('required')">
        The username is required
      </div>
    </div>
  </div>

  <div class="item-form my-4">
    <mat-form-field class="ancho" appearance="fill">
    <mat-label for="password">Password</mat-label>
    <input matInput autocomplete="off" type="password" id="password" name="password" class="form-control" placeholder="Write your password" formControlName="password">
  </mat-form-field>
    <div *ngIf="passwordControl.invalid && (passwordControl.dirty || passwordControl.touched)" class="alert alert-danger">  
      <div *ngIf="passwordControl.hasError('required')">
        The password is required
      </div>
      <div *ngIf="passwordControl.hasError('minlength')">
        The password must have 4 or more characters
      </div>
    </div>
  </div>

  <p *ngIf = "error" class="error">
    {{ error }}
  </p>

  <button class="ancho button" type="submit" mat-raised-button color="primary" (click)="saveData()" [disabled]="loginForm.invalid">Log In</button>

  </form>
</div>  